body{
    background-color: #4803d3;
}

.reminder{
    
    margin-left: 70px;
    justify-content: space-between;
    max-width:300px;
    align-items: center;
}

.list-item {
    display: flex;
    padding: 0.75rem 1.25rem;
    border: 1px solid rgba(0, 0, 0, 0.125); 
    border-radius: 0.25rem;
    width: 300px;
  }

input[type=text]{
    display: flex;
    border: none;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0.75rem 1.25rem; 
    border-radius: 0.25rem;
    
   
}
input[type=text]:focus{
    background-color: #ffff;
}

.list-group li{
    background-color: #534141;
}

.add{
    align-items: auto;
    padding: 1.25rem 0rem;
}
.custom-input{ 
    display: flex;
    margin: auto;
    width: 300px;
    
}  

.delet{
    cursor: pointer;
}

.filtered{
    display: none !important;
}