

@import url('https://fonts.googleapis.com/css?family=Raleway:200,400|PT+Mono&display=swap');

body{
    background-color: #272829;
    margin-top: auto;
    font-family: "PT Mono", monospace;
    display:flex; flex-direction:column; justify-content:center;
    min-height:100vh;
}

#dashboard {
    position: relative;
    margin: 5% auto;
    width: 1200px;
    height: 100%;
    /* border: 1px solid #d8dbe2; */
  }

.profile {
    position: absolute;
    height: 100%;
    width: 29%;
    background: #d8dbe2;
    box-shadow: 2px 2px 15px rgba(73, 88, 103, .3);
}

.profile-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-image p {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #495867;
    margin: 10px;
    padding: 15px;
    font-size: 2em;
    font-style: oblique;
    letter-spacing: 1px;
}

.profile-image img{
    margin-top: 10%;
    border-radius: 5%;
    object-position: center;
    width: 150px;
}


.profile-detail {
    position: absolute;
    width: 100%;
    margin-top: 10px;
    background: #d8dbe2;
    box-shadow: 2px 2px 15px rgba(73, 88, 103, .3);
    text-align: center;
}



.profile-detail p  {
    list-style-type: none;
    color: #495867;
    margin: 0px;
    padding: 15px;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 1px;
    cursor: pointer;
}

.profile-detail p:hover {
    background: #fff;
    transition: all 0.3s ease;
}


.reminder{
    grid-area: one;
    grid-column: 1 ;
    font-family: "PT Mono", monospace;
    align-items: auto;
    display: flex;
    background: #FFF6E05a;
}

.list-item {
    display: flex;
    padding: 0.75rem 1.25rem;
    color: #272829;
    border-radius: 0.25rem;
    width: 300px;
}

input[type=text]{
    display: flex;
    border: none;
    background-color: #FFF6E0;
    padding: 0.75rem 1.25rem; 
    border-radius: 0.25rem;
    
   
}
input[type=text]:focus{
    background-color: #ffff;
}

.list-group li{
    background-color: #d8dbe2;
    margin-top: 2%;
}

.add{
    margin-top: auto;
    align-items: auto;
    padding: 1.25rem 0rem;
}

.add-input{
    align-items: auto;
    padding: 1.25rem 0rem;
}
.custom-input{ 
    display: flex;
    margin: auto;
    width: 300px;
}  

.clock {
    grid-area: four;
    grid-column: 2;
    background: #61677A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.time {
    font-size: 4em;
    color: #61677A;
    background: #FFF6E0;
    padding: 7px; 
}

.greeting   {
    margin-top: auto;
    font-size: 1em;
    color: #61677A;
    background: #FFF6E0;
    padding: 7px; 
}

#date  {
    font-family: "Raleway", sans-serif;
    margin-top: auto;
    font-size: 3em;
    color: #FFF6E0;
    padding: 7px;
}

.main-grid {
    width: 70%;
    margin-left: 30%;
    height: 90%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "one four" "one five" "two five" ;
  }

.delet{
    cursor: pointer;
}


