

@import url('https://fonts.googleapis.com/css?family=Raleway:200,400|PT+Mono&display=swap');

body{
    background-color: #4803d3;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

#dashboard {
    position: relative;
    margin: 5% auto;
    width: 1200px;
    height: auto;
    /* border: 1px solid #d8dbe2; */
  }

.profile {
    position: absolute;
    height: 160%;
    width: 30%;
    background: #d8dbe2;
    box-shadow: 2px 2px 15px rgba(73, 88, 103, .3);
    text-align: center;
}

.profile-image {
    margin-top: 55%;
    margin-bottom: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-image p{
    color: #495867;
    font-size: 0.8em;
    margin-top: 15px;
}

.profile-detail {
    position: absolute;
    width: 100%;
    background: #d8dbe2;
    box-shadow: 2px 2px 15px rgba(73, 88, 103, .3);
    text-align: center;
}

p {
    list-style-type: none;
    color: #495867;
    margin: 0;
    padding: 15px;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 1px;
    cursor: pointer;
}
p:hover {
    background: #fff;
    color: #577399;
    transition: all 0.3s ease;
}



.reminder{
    margin-left: 30%;
    align-items: auto;
    display: flex;
    width: 300px;
}

.list-item {
    display: flex;
    padding: 0.75rem 1.25rem;
    border: 1px solid rgba(0, 0, 0, 0.125); 
    border-radius: 0.25rem;
    width: 300px;
  }

input[type=text]{
    display: flex;
    border: none;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0.75rem 1.25rem; 
    border-radius: 0.25rem;
    
   
}
input[type=text]:focus{
    background-color: #ffff;
}

.list-group li{
    background-color: #d8dbe2;
}

.add{
    margin-top: -11%;
    align-items: auto;
    padding: 1.25rem 0rem;
}

.add-input{
    align-items: auto;
    padding: 1.25rem 0rem;
}
.custom-input{ 
    display: flex;
    margin: auto;
    width: 300px;
    
}  

.delet{
    cursor: pointer;
}

.filtered{
    display: none !important;
}

